/* navbar-styling */
#navbar .max-container{
  display: grid;
  grid-template-columns: 1fr 7fr;
  padding: 0.5rem;
  align-items: center; 
}
#navbar .logo_img{
  width: 80px;
}

/* showcase-styling */
#showcase{
  background: url('../Img/Showcase_background_img.png') no-repeat center center/cover;
  height: 450px;
}
#showcase .container1{
  margin: 0 30px;
} 

/* section1-styling */
.info-container{
  max-width: 450px;
  margin: auto;
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 1rem;
  padding: 2rem 0;
}
.box1{
  margin: 1rem 3rem;
  padding: 1.5rem 4rem;
}

/* section-2-styling */
#info2 .container1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box2{
  margin: 0 1rem 1rem;
  padding: 1rem 1.5rem;
}

/* setion3-styling */
#info3 .container1{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 2rem;
}
.lawyers-img{
  margin: 1rem 0;
}

/* footer-styling */
.footer-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.footer-info{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.social-media{
  grid-column: 1;
  background: var(--priamry-color);
}
.contact-us{
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--priamry-color);
}
.our-team{
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--priamry-color);
}
.contact{
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--priamry-color);
}


/* About-page-styling */
#aboutus{
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr;
  grid-gap: 7rem;
}
.what-we-do .practice{
  width: 100%;
}
.our-team2{
  margin: 0 2rem;
}

/* Articles-styling */
.article-container{
  margin: 0rem 0rem 5rem 0rem;
}
.box-article{
  border: solid 1.3px var(--body-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 1rem;
  margin: 3rem 0;
}
.article-content .border-line{
  width: 50%;
}


@media(max-width: 600px){
  
  /* body */
  body{
    font-size: 0.8rem;
  }

  /* navbar-styling */
  #navbar .logo_img{
    width: 70px;
  }
  #navbar ul{
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    font-size: 0.7rem;
  }
  
  /* showcase-styling */
  #showcase{
    background: url('../Img/Showcase_background_img.png') no-repeat -400px/cover;
    height:380px;
  }
  #showcase .container1{
    margin: 0 20px;
    padding: 70px 0 0 10px;
  }
  .container1 h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 2rem;
  }

}

@media(max-width: 400px){

  #navbar .max-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  #navbar ul{
    justify-self: auto;
  }
  #navbar .logo_img{
    justify-self: center;
    margin: 0.3rem;
    width: 70px;
  }
  /* section-2-styling */
  #info2 .container1{
    display: grid;
    grid-template-columns:  1fr;
  }
  .box2{
    margin: 0 1rem 1rem;
    padding: 1rem 1rem;
  }
  .practice{
    font-size: 0.8rem;
  }

  /* about-styling */
  .what-we-do .practice{
    width: 100%;
    font-size: 0.8rem;
  }
  .about-uz .img1{
    width: 80%;
  }
  #aboutus{
    font-size: 0.8rem;
    margin: 0.5rem;
  }
  .our-team2{
    margin: 0;
  }

  /* article-styling */
  .article-content .border-line{
    width: 65%;
  }
}